
<header>  <video class="video-background" src="img/f4.mp4 " autoplay loop></video>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                       <a class="nav-link" aria-current="page" href="/regala">Regala</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/encuentra">Encuentra</a>
                    </li>
                </ul>
                <div class="col-4 col-md-1">
                <a href="/iniciar-sesion">
                    <button class="btn btn-outline-dark boton-user-name" type="button" data-toggle="tooltip"
                        data-placement="bottom" title="Ingresa"><i
                            class="fa-solid fa-person-walking-arrow-right text-white"></i></button>
                </a>
            </div>
    
            <div class="col-4 col-md-2">
                <a href="/registrate">
                    <button class="btn btn-outline-dark boton-user-name " type="button" data-toggle="tooltip"
                        data-placement="bottom" title="Registrate"><i class="fa-solid fa-person-circle-plus text-white"></i></button>
                </a>
            </div>
            </div>
        </div>
    </nav></header>
