
    :root {
      --blanco: #ffffff;
      --black: #212121;
      --primario: #ffc107;
      --secundario: #0097a7;
      --gris: #757575;
      --grisclaro: #dfe9f3
      }    
    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;
    }
    /*logo*/
    .logo{
      width: 30%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
   }
   /*botones*/
 .boton-user-name{     
   border-radius: 100%;
   margin-top: 2rem;  
   margin-left: 2rem;
      }
      .boton-user{
         height: 2rem;
         width: 2rem;         
      }  
 /*Navegador*/
 .btn btn-outline-success{
   color: black;
 }
 .navbar{
   margin-bottom: 2rem;
 }
 .nav-link{
    color: rgb(255, 255, 255);
 }
   .bg-light{
      --bs-bg-opacity: 0.2;
   }
 .btn btn-outline-success{
    color: black;
 }
 .nav-item{
   padding: 0 0.5rem;
 }

 body{
  background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 20% );
  background-repeat: no-repeat;
  background-size: cover;
  height: 1350px;
  position: relative;
  margin-bottom: 2rem;
  }
 /*Descripccion*/
 .container-1{
background-color: var(--gris);
margin: 0 auto;
padding: 2rem;
border-radius: 1rem;
 } 
 .parrafo{
   color: rgb(255, 255, 255);
 }
/*contactos*/
.formulario {
   background-color:#409dc4;
   width: min( 60rem, 100%);
   margin: 0 auto;
   padding: 2rem;
   border-radius: 1rem;
   
}
.formulario fieldset{
   border: none;

}
.formulario legend {
   text-align: center;
   font-size: 1.8rem;
   text-transform: uppercase;
   font-weight: 700;
   margin-bottom: 1rem;
   color: black;
}
.formulario label{
   text-align: center;
}
@media (min-width: 768px) {
   .contenedor-campos {
   display: grid; /**le das orden a la pagina**/
   grid-template-columns:50% 50%;  
   grid-template-rows: auto auto 20rem;
   column-gap: 1rem;
}
.campos:nth-child(3),
.campos:nth-child(4) {
   grid-column: 1 / 3;
}
}
.campos {
   margin-bottom: 3rem;

}
.campos label {
   color: rgb(0, 0, 0);
   font-weight: bold;
   margin-bottom: .5rem;
   display: block;

}
.campos textarea{
   height: 18rem;
}
.input-text {
   width: 100%;
   border: none;
   padding: 1.5rem;
   border-radius: 1rem;
   resize: none;
}
.errores{
   color: red;
}
.btn-1{
   margin: 1rem;
   border-radius: 2rem;
  border-top: 2rem;
}
/**.footer**/
.footer {
   text-align: center;
   padding-top: 4rem;
   padding-bottom: 2rem;
}
