<html lang="es">

{{>head}}

<body>
    <header>
        {{>nav}}
    </header>
    <video class="video-background" src="./foto/f4.mp4 " autoplay loop></video>
    <div class="contacto-bg mt-5 mb-5">
        <form method="POST" action="/iniciar-sesion" class="formulario mx-auto mt-5 mb-5">
            <h3 class="text-center text-dark">Iniciar sesión</h3>
            <label class="campo__label" for="email">E-mail</label>
            <div class="campo">
                <input class="campo__field" name="email" id="email" type="email" placeholder="Tu email">
            </div>
            <label class="campo__label" for="contraseña">Contraseña</label>
            <div class="campo">
                <input id="contraseña" name="password" class="campo__field" type="password" placeholder="Contraseña">
            </div>
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" value="Enviar" class="btn btn-outline-danger text-dark">Iniciar sesión</button>
            </div>
        </form>
    </div>
    {{>footer}}
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script>$(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })</script>

    {{!-- <script src="./js/iniciar-sesion.js"></script> --}}
    <script src="js/top.js"></script>
</body>

</html>
