<html lang="es">

{{>head}}

<body>
    <header>
        {{>nav}}
    </header>
    <video class="video-background" src="./foto/f4.mp4 " autoplay loop></video>
    <div class="contacto-bg mt-5 mb-5">
        <form method="POST" action="/iniciar-sesion" class="formulario mx-auto mt-5 mb-5">
            <h3 class="text-center text-dark">Iniciar sesión</h3>
            <label class="campo__label" for="email">E-mail</label>
            <div class="campo">
                <input class="campo__field" name="email" id="email" type="email" placeholder="Tu email">
            </div>
            <label class="campo__label" for="contraseña">Contraseña</label>
            <div class="campo">
                <input id="contraseña" name="password" class="campo__field" type="password" placeholder="Contraseña">
            </div>
            <div class="d-flex justify-content-end mb-3">
                <button type="submit" value="Enviar" class="btn btn-outline-danger text-dark">Iniciar sesión</button>
            </div>
        </form>
    </div>
    {{>footer}}
    {{!-- <script src="./js/iniciar-sesion.js"></script> --}}
</body>

</html>
