<!DOCTYPE html>
<html lang="es">

{{>head}}

<body>
  <header>
    {{>nav}}
  </header>
  <main class="container ">
   <form class="formulario mt-5 mb-5" action="/publicaciones" method="POST" enctype="multipart/form-data">
  <h3 class="text-center text-dark">Subir publicación</h3>
  <label class="campo__label" for="nombre_producto">Nombre del producto</label>
  <div class="campo">
    <input class="campo__field" id="nombre_producto" name="nombreProducto" type="text" placeholder="Nombre del producto" required>
  </div>
  <label class="campo__label" for="titulo">Título</label>
  <div class="campo">
    <input class="campo__field" id="titulo" name="titulo" type="text" placeholder="Título" required>
  </div>
  <label class="campo__label" for="url">sube tu imagen</label>
  <div class="campo">
    <input type="file" class="custom-file-input" id="imagen" name="imagen" accept="image/*" required>
  </div>
  <label class="campo__label" for="descripcion">Descripción</label>
  <div class="campo">
    <textarea class="campo__field campo__field--textarea" id="descripcion" name="descripcion" required></textarea>
  </div>
  <div class="d-flex justify-content-end mb-3">
    <button type="submit" value="Crear" class="btn btn-outline-danger text-dark">Crear</button>
  </div>
</form>
  </main>

  {{>footer}}
</body>

</html>