:root {
   --blanco: #ffffff;
   --black: #212121;
   --primario: #ffc107;
   --secundario: #0097a7;
   --gris: #757575;
   --grisclaro: #dfe9f3
   }    
 *{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: large;
 }
 
 
/*botones*/
.boton-user-name{     
   border-radius: 100%;
}
   
/*Navegador*/

.navbar {
   margin-bottom: 2rem;
}

.nav-link {
   color: rgb(255, 255, 255);
}

.nav-item {
   padding: 0 0.5rem;
}

Descripccion
.container-1{
background-color: var(--gris);
margin: 0 auto;
padding: 2rem;
border-radius: 1rem;
} 
.parrafo{
color: rgb(255, 255, 255);
}
/*formulario regala*/
.error{
    background-color: red;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
 }
 
 .check{
    background-color: green;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
 }
 
 .contacto-bg{
    background-image: url(../foto/cosechado-vista-manos-mecanografia-computadora_1262-3196.webp);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
 }
 
 .formulario{
   background-color: rgba(255, 255, 255, 0.521);
    margin: -5rem auto 0 auto;
    width: min( 60rem, 100%);
    padding: 2rem;
    border-radius: 10px;
 }
 
 .campo{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
 }
 .campo__label{
    flex: 0 0 3rem;
    text-align: right;   
    border-radius: 5rem;
    padding-bottom: 1rem;
 }
 
 .campo__field{
    flex: 1;
    color: #212121;
    border: 1px solid var(--gris);
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
 }
 .campo__field1{
    flex: 1;
    border: 1px solid var(--gris);
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
 }

 
 .campo__field--textarea{
    height: 10rem;  
 }
 .container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
 } 
 /**.footer**/
.footer {
   text-align: center;
   padding-top: 4rem;
   padding-bottom: 2rem;
}

.titulo{
   text-align: center;
   margin-left: 10%;
   margin-bottom: 3rem;
}
.Contenedor{
   background-color: rgba(255, 255, 255, 0.521);
   margin-bottom: 1rem;
   border-radius: 1rem;
   height: 23rem;
  
}
.video-background{
   border: 0;
   position: fixed;
   min-width: 100%;
   min-height: 100%;

   top: 50%;
   left: 50%;
   transform:  translateX(-50%) translateY(-50%);
   z-index: -1;
}
/* zeta */

.contenedor {
   width: 100%;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #121212;
}

.contenedor.cards {
   position: relative;
   max-width: 100rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: #c48e82;
   z-index: 0;
}

.contenedor-cards .card-1 {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 10rem 0;
}

.contenedor-cards .card-1:nth-child(odd) {
   flex-direction: row;
}

.contenedor-cards .card-1:nth-child(even) {
   flex-direction: row-reverse;
   text-align: right;
}

.contenedor-cards .card-1 .imgBx {
   position: relative;
   left: 25px;
   width: 400px;
   height: 400px;
   z-index: 1;
}

.contenedor-cards .card-1:nth-child(even) .imgBx {
   left: -25px;
}

.contenedor-cards .card-1 .imgBx img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.contenedor-cards .card-1 .contentBx {
   position: relative;
   right: 25px;
   width: 400px;
   height: 400px;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px 60px 20px 100px;
}

.contenedor-cards .card-1:nth-child(even) .contentBx {
   right: -25px;
   padding: 20px 100px 20px 60px;
}

.contenedor-cards .card-1 .contentBx:before {
   content: '';
   position: absolute;
   top: -50px;
   bottom: -50px;
   left: 0;
   right: 0;
   background: #000;
   z-index: -1;
}

.contenedor-cards .card-1 .contentBx h2 {
   font-size: 30px;
   color: #fff;
}

.contenedor-cards .card-1 .contentBx p {
   margin-top: 10px;
   color: #fff;
}

.contenedor-cards .card-1 .contentBx a {
   display: inline-block;
   margin-top: 15px;
   color: #fff;
   text-decoration: none;
   padding: 10px;
   border: 1px solid #fff;
}

@media (max-width: 1000px) {
   .contenedor-cards .card-1 {
       flex-direction: column;
       max-width: 350px;
       margin: 25px 25px;
   }

   .contenedor-cards .card-1 .imgBx {
       width: 100%;
       height: 250px;
       left: 0;
   }

   .contenedor-cards .card-1 .contentBx {
       width: 100%;
       height: auto;
       right: 0;
       padding: 30px;
       text-align: center;
   }

   .contenedor-cards .card-1 .contentBx:before {
       top: 0;
       bottom: 0;
   }

   .contenedor-cards .card-1:nth-child(even) .imgBx {
       left: 0;
   }

   .contenedor-cards .card-1:nth-child(even) .contentBx {
       right: 0;
       padding: 30px;
   }
}

.bg-light {
   height: 100vh;
 }

 .flex-grow-1 {
   overflow-y: auto;
 }

 ul.list-group {
   overflow-y: auto;
   height: calc(100vh - 110px);
 }